
.inter {
  font-family: 'Inter', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.scrolledTo {
  padding-top: 100px;
  margin-top: -100px;
}

.scrolledTo-project {
  padding-top: 60px;
  margin-top: -60px;
}

.scrolledTo-project2 {
  padding-top: 75px;
  margin-top: -75px;
}

.scrolledTo-contact {
  padding-top: 75px;
  margin-top: -75px;
}


html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.rise-in {
  transform: translateY(5%);
  transition: transform 400ms ease-in;
}

.rise-in.appear {
  transform: translateY(0);
}

.fade-in.appear {
  opacity: 1;
}